
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <!-- <a href="https://www.creative-tim.com/templates/flask" 
                 class="font-weight-bold ml-1" target="_blank">More Dashboards</a> -->
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a href="" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; Atlas</a> 
                 - created by <a target="_blank" href="https://www.linkedin.com/in/aaditya-yadav-a556a61b1/">Aaditya</a> & <a target="_blank" href="https://www.linkedin.com/in/aditya-swarup-51b93b70/">Aditya</a>
            </div>
          </div>
        </div>
      </footer>
