{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<style>
  .container {
  position: relative;
  text-align: center;
  width: 100%;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 270px;
  left: 40px;
  font-size: 45px;
  color: white;
}
.bottom-left-sub {
  position: absolute;
  bottom: 220px;
  left: 40px;
  font-size: 35px;
  color: white;
}
</style>
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        
        <div class="header-body">
          
          <div class="row align-items-center py-4">
            <!-- <div class="container"> -->
              <img src="/static/assets/img/theme/idx_bg.jpeg" alt="Snow" style="width:100%; opacity: 0.7;">
              <div class="bottom-left">Welcome to Atlas</div>
              <div class="bottom-left-sub" >Where we connect the world</div>
            <!-- </div> -->
            
             <!-- <div class="col-lg-6 col-7"> -->
              <!-- <h6 class="h2 text-white d-inline-block mb-0">Default</h6> -->
              <!-- <h1 class="h1 text-white d-inline-block mb-0">Welcome to Atlas</h1>
              <br>
              <h3 class="h2 text-white d-inline-block mb-0">Where we Connect the world</h3> -->
              
              <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Default</li>
                </ol>
              </nav> -->
            <!-- </div>  -->
            <!-- <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div> -->
          </div>

  
            <!-- <div class="container-fluid">
              <div class="header-body"> -->
                <!-- Card stats -->
                
              <!-- </div>
            </div> -->
              
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-6">
          <div class="card bg-white">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-dark text-uppercase ls-1 mb-1">Demo</h6>
                  <h5 class="h3 text-dark mb-0">What is Atlas?</h5>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="card-body">
              <iframe width="100%" height="350px"
              src="https://www.youtube.com/embed/tgbNymZ7vqY">
              </iframe>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card bg-white">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-dark text-uppercase ls-1 mb-1">Algorithm Analysis</h6>
                  <h5 class="h3 text-dark mb-0">How does it work?</h5>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <iframe width="100%" height="350px"
              src="https://www.youtube.com/embed/tgbNymZ7vqY">
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h1 class="mb-0">How to use Atlas?</h3>
                    <ol>
                      <li> <h3>Go to "Try me" from the side navigation bar. The search box there, takes in an address. Clicking on the "Add" button adds it to a table. It also adds a marker onto the map below, created by the Maps Embed API. Add as many or as few addresses as you want, our algorithm doesn't have an upper limit to how many calculations it can do!</h3>
                      </li>
                      <li> <h3>Once you're done inputting all the addresses, simply click on "Generate Centroid" and it's as simple as that! Your centroid will be generated, marked by the purple marker. </h3>
                      </li>
                      <li> <h3>If you'd like a list of things to do around the location, click on "Generate Places" and it'll show you everything that you can do around the centroid within a default radius of 500m, marked with blue markers. </h3>
                      </li>
                    </ol>
                    
                </div>
               
              </div>
            </div>
           
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h1 class="mb-0">API Used</h3>
                    <ol>
                      <li> <h3><b>Geocoding:</b> Used to convert entered addresses to geocodes</h3>
                      </li>
                      <li> <h3><b>Maps Embed:</b> Used to display the map on the website</h3>
                      </li>
                      <li> <h3><b>Places:</b> Used for placing markers on the map and generate a list of social places surrounding the centroid</h3>
                      </li>
                    </ol>
                    
                </div>
               
              </div>
            </div>
           
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h1 class="mb-0">How does the Algorithm work?</h3>
                    <ol>
                      <li> <h3>As the user input’s the addresses it gets appended into an array. These locations get converted into geocodes and get appended into another array with initialised weight of 1, resulting in the creation of a 3d array with latitude, longitude and weight. Real time conversion prevents us from placing multiple api calls at once and avoid reaching the browser limit for the total number of concurrent requests. Additionally it reduces latency by limiting the number of requests to the server during calculations of centroid or places.</h3>
                      </li>
                      <li> <h3>When the ‘Generate Centroid’ button is called our software iterates over the 3d array of geocodes. It takes the first two points and finds the centre (in respect to the weights). The first 2 points get popped from our array and the centre is appended into out array with a weight assignment of weight of point one plus weight of point two. We continue this process till the time we have just 1 element left in our array. Which is the Centroid of the entire cluster of points. The total number of iterations is n-1, where n is the number of elements in our array.</h3>
                      </li>
                      <li> <h3>When the ‘Generate Places’ button is called we first find the centroid if that has not been found. Then we use the places api to find relevant locations, surrounding the centroid, within a user inputed radius (default is 500).</h3>
                      </li>
                    </ol>
                    
                </div>
               
              </div>
            </div>
           
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0 ">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <!-- <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5> -->
                  <span class="h2 font-weight-bold mb-0">
                   <a href="https://github.com/aadityayadav/Atlas">Github</a> </span>
                </div>
                <div class="col-auto">
                  <!-- <div class="icon icon-shape  text-white rounded-circle shadow"> -->
                    <!-- <i class="fas fa-chart-bar"></i> -->
                    <!-- <i class="bi bi-github"></i>
                     -->
                     <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                  <!-- </div> -->
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 ">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <!-- <h5 class="card-title text-uppercase text-muted mb-0">New users</h5> -->
                  <span class="h2 font-weight-bold mb-0" >
                    <a href="">Devpost</a> </span>
                </div>
                <div class="col-auto">
                  <!-- <div class="icon icon-shape bg-warning text-white rounded-circle shadow"> -->
                    <img src="/static/assets/img/theme/devpost-32.png" style="width: 35px; height: 35px;" alt="">
                    <!-- <i class="fas fa-chart-pie"></i> -->
                  <!-- </div> -->
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p> -->
            </div>
          </div>
        </div>
       
        
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
