{% extends 'layouts/base.html' %}

{% block title %} About Us {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 400px; background-image: url(/static/assets/img/theme/i-liked-this.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-6"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          About Us 
        </h1>
        <p class="text-white mt-0 mb-5">This is a short description to get to know us! Please feel free to reach out :)</p>
        <!-- <a href="#!" class="btn btn-neutral">Edit profile</a> -->
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-6 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="static\assets\img\theme\1663542094597.jpg" alt="Image placeholder" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="https://www.linkedin.com/in/aaditya-yadav-a556a61b1/" target="_blank" class="btn btn-sm btn-info  mr-4 ">LinkedIn</a>
            <a href="https://github.com/aadityayadav" target="_blank" class="btn btn-sm btn-default float-right">GitHub</a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Aaditya Yadav</span>
                  <span class="description">University of Waterloo, Software Engineering</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{ current_user.username }}
            </h5>
            <div class="h5 font-weight-300">
              {{ current_user.email }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>
              Hello! I am a Software Engineering student at the University of Waterloo and I am extremely passionate about learning. 
            </div>
            <div class="h5 mt-2">
              <i class="ni business_briefcase-24 mr-2"></i>
            My primary focus in my career is to gain as much experience as possible in diverse software fields. I like to take up challenges, especially if it involves broadening my horizons. Something that I love about software development is the process of bringing your imagination to life. Having the opportunity to express your creativity and make significant contributions to a project is what drives me. My mentor once told me "You don't have to be the best, but you do have to be a known quantity" and that is what I strive to become.
            </div>
            <div class="h5 mt-2">
              <i class="ni business_briefcase-24 mr-2"></i>
            Feel free to connect with me or shoot me a message!
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-6 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="\static\assets\img\theme\1623073197197.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="https://www.linkedin.com/in/aditya-swarup-51b93b70/" target="_blank" class="btn btn-sm btn-info  mr-4 ">LinkedIn</a>
            <a href="https://github.com/AdityaSwarup" target="_blank" class="btn btn-sm btn-default float-right">GitHub</a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Aditya Swarup</span>
                  <span class="description">University of Waterloo, Pure Mathematics</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{ current_user.username }}
            </h5>
            <div class="h5 font-weight-300">
              {{ current_user.email }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>
              I'm a co-op student at the University of Waterloo pursuing an Honors in Pure Mathematics with a minor in Philosophy. 
              I love problem-solving and I always look to be a more versatile, quick, and dedicated learner. 
              I'm always looking for new opportunities to learn, be it in the field of Mathematics, Philosophy, Languages, or even the Arts. 
            </div>
            <div class="h5 mt-2">
              <i class="ni business_briefcase-24 mr-2"></i>
              I strongly believe in the power of collaboration in an effort to come up with innovative ideas! Shoot me a message to collaborate!
            </div>
            <div class="h5 mt-5">
              <i class="ni business_briefcase-24 mr-2"></i>
            
            </div>
        </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
