{% extends 'layouts/base.html' %}

{% block title %} Use Cases {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Use Cases</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tables</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img src="/static/assets/img/theme/Hang_out.jpg" alt="Image placeholder" class="card-img-top" style="max-height:300px;width:100%">
            <div class="row justify-content-center">
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-0">
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <span class="heading">Connecting People</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <div class="h5 mt--2">
                  <i class="ni business_briefcase-24 mr-2"></i>
                  From everyday friends to club meetups in towns and cities, we create the opportunity
                  to allow people to (literally) meet in the middle. Accommodating large groups of people
                  has never been easier! Find a cute cafe, lush parks, or even a bowling alley. Make new friends,
                  reconnect with old ones, Atlas makes it possible to create connections.
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img src="/static/assets/img/theme/Cities.jpg" alt="Image placeholder" class="card-img-top" style="max-height:300px;width:100%">
            <div class="row justify-content-center">
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <span class="heading">Building Communities</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <div class="h5 mt--2">
                  <i class="ni business_briefcase-24 mr-2"></i>
                  Ensuring communities get the same access to resources can be a challenge. Where should
                  a town build its schools, hospitals, or even community centers? You could divide the
                  community within sections and add weights based on the population size of each section. 
                  From localized centers, straight to the heart of a town or city,
                  Atlas helps create a thriving community.
                </div>
                <div class="h5 mt--2">
                  <i class="ni business_briefcase-24 mr-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img src="/static/assets/img/theme/Utilities.jpg" alt="Image placeholder" class="card-img-top" style="max-height:400px;width:100%">
            <div class="row justify-content-center">
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-0">
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <span class="heading">Efficient Resource Allocation</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <div class="h5 mt--2">
                  <i class="ni business_briefcase-24 mr-2"></i>
                  By seeing levels of energy consumption within localized communities, create weighted models
                  that assigns greater weight to communities with higher leves of consumption. Use that information
                  to localize energy plants to reduce costs of transportation. 
                </div>
                <div class="h5 mt-2">
                  <i class="ni business_briefcase-24 mr-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

          </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
